@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
    font-family: 'Roboto';

}

#intro {
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

#services {


    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.design {
    display: none;
}

.development {
    display: none;
}

.product {
    display: none;
}

.whatwedo>.row {
    margin: 30px;

}

.p.images>.imgrow2>img {
    height: 180px;
}

input{
    width:100%;
    padding:5px;
    background-color:inherit;
    color: white;
    border:1px solid white;
}
textarea{
    background-color:inherit;
    border: 1px solid white;
    width: 50vw;
    color: white;
}
input[input=text]{
    color: white;

}
::placeholder{
    color: white;
}
.col-md-3>p{
    display: none;
    font-size:  30px;
    color:black;
    background-color:white;
    border: 2px solid black;
    width:70%;
    height:80%;
    z-index: 0;
}
