@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
    font-family: 'Roboto';

}

#intro {
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

#services {


    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.design {
    display: none;
}

.development {
    display: none;
}

.product {
    display: none;
}

.row {
    margin: 50px;

}

.delani {
    display: none;

}

.p.images>.imgrow2>img {
    height: 180px;
}

input{
    width:100%;
    background-color:inherit;
    color: white;
    border:1px solid white;
}
textarea{
    background-color:inherit;
    border: 1px solid white;
    width: 50vw;
    color: white;
}
input[input=text]{
    color: white;

}
::placeholder{
    color: white;
}